@charset "utf-8";
/* CSS Document */

      body {
        padding: 0;
		margin:0;
        max-width: 1200px;
        margin: auto;
		font-family: Ubuntu, Helvetica, sans-serif;
      }
      #chart {
        height: 500px;
        font: 16px Ubuntu, sans-serif;
		padding-top:15px;
      }
      .node rect {
        fill-opacity: .9;
        shape-rendering: crispEdges;
        stroke-width: 0;
      }
      .node text {
        text-shadow: 0 1px 0 #fff;
      }
      .link {
        fill: none;
        stroke: #000;
        stroke-opacity: .2;
      }
	  .principal {
		  font-size:18px;
		  font-weight:bold;
	  }
	  .secundario {
		  font-size:14px;
		  font-weight:regular;
	  }


	  ul.botones1, ul.botones2 {text-align:center}
	  ul.botones1 li, ul.botones2 li {
		  display: inline;}
	  ul.botones1 li a, ul.botones2 li a  {
		font-size: 18px;
		background-color: #CCC;
		color: white;
		padding: 4px 8px;
		text-decoration: none;
		border-radius: 3px 3px;
		line-height: 2em;
		letter-spacing: 1px;
		margin-right: 2px;
    	margin-left: 2px;
		cursor: pointer;
    	cursor: hand;
		}
	  ul.botones1 li a:hover, ul.botones1 li a.activo,
	  ul.botones2 li a:hover, ul.botones2 li a.activo {
		background-color: orange;}
		
	#fuente {
		font-size: 12px;
    	padding-left: 18px;
    	padding-top: 6px;
	}

td[colspan="11"].principal {
	font-size: 12px;
    padding-left: 18px;
    padding-top: 6px;
}